# Ignore environment variables file
.env

# Ignore NuGet cache
.cache

# Ignore log file
log.txt

# Ignore macOS system files
.DS_Store

# Ignore Jupyter Notebook session files
*.session

# Ignore data directory
raw_files/
cache/
downloads/

# Ignore Python cache
__pycache__/

# Ignore GNOME session files
*.session-journal
