pip install pipenv


cd /path/to/your/project
pipenv install


[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiofiles = "*"
Bard = "*"
SpeechRecognition = "*"
# ... and so on for all the libraries

[dev-packages]

[requires]
python_version = "3.9"


pipenv install


pipenv shell
